<!DOCTYPE html>
<html lang="en" data-framework="backbonejs">

  <head>
    <title>Foodea Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">FOODEA.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="buttonHomePage">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/src/pages/recipe-view-page/ingredients-page.html" id="ingredientsLink">Ingredients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#recipes">Recipes</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="buttonSearchRecipe" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- navigation bar -->
    <!-- <nav>
        <div class="nav-container">
          <ul>
            <li id="buttonHomePage"><a>Home</a></li>
            <li><a href="example.html">Ingredient</a></li>
            <li><a href="#recipes">Recipes</a></li>
            <li>
                <form>
                    <input  id="searchInput" type="text" placeholder="Search">
                    <button type="submit" id="buttonSearchRecipe">Search</button>
                </form>
            </li>
          </ul>
        </div>
    </nav> -->

    <!-- site name -->
    <!-- <div id="top">
      <div class="heading"> <h1>FOODEA</h1> </div>
    </div> -->

    <!-- three options row -->
    <div id="bottom">
      <div class="column">
        <h2>Get a Random Recipe</h2>
        <p>Get a Random Recipe</p>
        <button class="btn btn-primary" id="buttonRandomRecipe" >Get</button>
      </div>
      <div class="column">
        <h2>Find More Recipes</h2>
        <p>Discover new recipes to try out.</p>
        <button class="btn btn-primary">Explore</button>
      </div>
      <div class="column">
        <h2>Your Ingredients</h2>
        <p>Get Recipes based on the ingredients you have.</p>
        <button class="btn btn-primary">Fridge</button>
      </div>
    </div>
    
    
    <!-- card for recipe of the day -->
    <div id="recipe-cards"></div>
    <script type="text/template" id="recipe-card-template">
      <div class="container-fluid">
        <div class="row">
          <h1 class="heading" id="foodForTheDay">Food For The Day</h1>
          <% _.each(recipes, function(recipe) { %>
            <div class="col-md-3 col-sm-6 col-xs-12 recipeCards">
              <div class="card" id="<%=recipe.id%>">
                <img src="<%=recipe.image%>" class="card-img-top" alt="Card image" onerror="this.onerror=null;this.src='images/placeholder.png';">
                <div class="card-body">
                  <h5 class="card-title line-clamp"><%= recipe.title %></h5>
                  <p class="card-text line-clamp"><%= recipe.summary %></p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
        </ul>
      </nav>
    </script>

    <!-- showing the recipe details -->
    <div id="recipe-details"></div>
    <script type="text/template" id="recipe-details-template">
      <h1 class="heading" style="margin-bottom: 0px;"><%= recipe.title %></h1>
      <div class="recipe-details-container">
        <div class="recipe-details-header">
          <img class="recipe-details-image" src="<%= recipe.image %>" alt="Recipe image" onerror="this.onerror=null;this.src='images/placeholder.png';">
        </div>
        <div class="recipe-details-content">
          <p class="recipe-details-summary"><%= recipe.summary %></p>
          <h2 class="recipe-details-subtitle">Ingredients</h2>
          <ul class="recipe-details-ingredients">
            <% recipe.extendedIngredients.forEach(function(ingredient) { %>
                <li><%= ingredient.original %></li>
            <% }); %>
          </ul>

          <h2 class="recipe-details-subtitle">Equipment you may need</h2>
          <ul class="recipe-details-equipment">
            <% recipe.analyzedInstructions.forEach(function(instructions) { %>
              <% instructions.steps.forEach(function(step) { %>
                <% step.equipment.forEach(function(equipment) { %>
                  <li><%= equipment.name %></li>
                <% }) %>
              <% }); %>
            <% }); %>
          </ul>
          <h2 class="recipe-details-subtitle">Instructions</h2>
          <ol class="recipe-details-instructions">
            <% recipe.analyzedInstructions.forEach(function(instructions) { %>
              <% instructions.steps.forEach(function(step) { %>
                <li><%= step.step %></li>
              <% }); %>
            <% }); %>
          </ol>
        </div>
      </div>
    </script>
    <script type="module" src="src/app.js"></script>
  </body>
</html>
