<!DOCTYPE html>
<html>
  <head>
    <title>Foodea Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav>
        <div class="nav-container">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <!-- <li><a href="random.html">Random</a></li> -->
            <li><a href="example.html">Ingredient</a></li>
            <li><a href="#recipes">Recipes</a></li>
            <li>
                <form>
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </li>
          </ul>
        </div>
    </nav>
      
    <div id="top">
      <div class="heading"> <h1>Home</h1> </div>
    </div>
    <div id="bottom">
      <div class="column">
        <h2>Get a Random Recipe</h2>
        <p>Get a Random Recipe</p>
        <button class="btn btn-primary">Get</button>
      </div>
      <div class="column">
        <h2>Find More Recipes</h2>
        <p>Discover new recipes to try out.</p>
        <button class="btn btn-primary">Explore</button>
      </div>
      <div class="column">
        <h2>Your Ingredients</h2>
        <p>Get Recipes based on the ingredients you have.</p>
        <button class="btn btn-primary">Fridge</button>
      </div>
    </div>
    

    <!-- <div id="recipe-container"></div>
    <script type="text/template" id="recipe-template">
      <div class="row justify-content-center">
        <% _.each(recipes, function(recipe) { %>
          <div class="col-md-4">
            <img src="<%=recipe.image%>" >
            <h1 class="text-center"><%= recipe.title %></h1>
          </div>
        <% }); %>
      </div>
    </script>  -->
    
    <div id="recipe-container"></div>
    <script type="text/template" id="recipe-template">
      <div class="container"><h1 class="heading" style="margin-bottom: 0px;"> <%= title %> </h1>
        <h2>Ingredients:</h2>
        <ol>
          <% _.each(ingredients, function(ingredient) { %>
            <li><%= ingredient %></li>
          <% }); %>
        </ol>
        <h2>Instructions:</h2>
        <ol>
          <% _.each(instructions, function(instruction) { %>
            <li><%= instruction %></li>
          <% }); %>
        </ol>
      </div>
    </script>
    <script type="module" src="../src/app.ts"></script>
  </body>
</html>
